/**
 * 菜单整体样式
 */

.leftmenu {
	width: 200px;
	overflow: hidden;
}


/**
 * 每级菜单样式
 */

.leftmenu dd {
	background: #faf0f0;
	line-height: 45px;
	font-size: 14px;
}


/**
 * 每级菜单头样式
 */

.title {
	border-left: 8px solid #de0a0a;
	padding: 0 28px;
	cursor: pointer;
	color: #333333;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
	display: block;
}


/**
 * 去掉超链接下划线
 */

a {
	text-decoration: none;
}

/**
 * 每级菜单-子项总体样式
 */
.menuSon {
    line-height: 45px;
    font-weight: normal;
    background: #FFFFFF;
}

/**
 * 每级菜单-子项li样式
 */

.menuSon a {
	cursor: pointer;
	padding-left: 16px;
	border-bottom: 1px solid #dfdfdf;
	display: block;
	color: #333333;
}


/**
 * 每级菜单 子项选中样式
 */

.menuSon .active {
	position: relative;
	background: #FFFFFF;
	line-height: 45px;
	height: 45px;
	color: #b60202;
}

/**
 * 向右箭头样式
 */
.menuSon a cite {
    display: block;
    float: left;
    /*margin-left: 34px;*/
    background: url(../img/icon_arrow_right_black.png) no-repeat;
    width: 4px;
    height: 6px;
    margin-top: 19px;
    padding-right: 10px;
}
/**
 * 无箭头占位样式
 */
.menuSon a sitting{
	 padding-right: 10px;
}
/**
 * 选中右箭头样式
 */
.menuSon a.active cite {
    background: url(../img/icon_arrow_right_red.png) no-repeat !important;
}

.rightCite{
	background: url(../img/icon_arrow_right_black.png) no-repeat !important;
}

.downCite{
	background: url(../img/icon_arrow_down_black.png) no-repeat !important;
}
.downCite .active{
	background: url(../img/icon_arrow_down_red.png) no-repeat !important;
}

/**
 * 角標
 */
.circle_index {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 40%;
    text-align: center;
}

.circle_red {
    color: #cd0a00;
    border: 1px #cd0a00 solid;
}
.circle_white {
    color: white;
    border: 1px white solid;
}

